extends layout

block content
  h1= title
  p Welcome to #[em Special Livery Database].


  if error
    p Error getting dynamic content.
  else
    p The database has the following record counts:

    ul
      li #[strong Planes:] !{data.planes_count}
